<!DOCTYPE html>
<html>
<head>
  <title>PostBoardx</title>
  <%= stylesheet_link_tag    "post_boardx/application", :media => "all" %>
  <%= javascript_include_tag "post_boardx/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
